
.notesContainer{
    background-color: #c8e7e3;
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: start;
    padding-top: 5%;
}
.vehicleInfo{
    width: 100%;
    text-align: center

}

@import '~bootstrap/scss/bootstrap';